html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
input,
button,
textarea {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans-light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans-Semi-Bold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

/* header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin: 0 52px 0 0;
}

.nav__item:not(:last-child) {
  margin: 0 52px 0 0;
}
.footer__nav .nav__link {
  font-size: 15px;
  color: #787878;
}

.nav__link {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
  border-bottom: none;
}

.nav__link:active {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
  outline: none;
}

.btn {
  padding: 15px 35px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  background-color: #3172b9;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background: #71a7e2;
}
.btn:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.btn:active {
  background: #0e3b6c;
  outline: none;
}

/* hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  color: #1c1c1c;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
  /* 52px */
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  color: #787878;
  font-size: 16px;
  line-height: 155%;
  /* 24.8px */
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__button {
  margin: 0;
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero__secure {
  padding-left: 29px;
  color: #787878;
  font-size: 11px;
  line-height: 155%;
  /* 17.05px */
  text-transform: uppercase;
  background-image: url("../img/icons/secure.svg");
  background-repeat: no-repeat;
  background-position: left;
}

/* services */

.services {
  border-bottom: 1px solid #dadada;
}

.section-title {
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
  /* 46.8px */
  margin: 0 0 40px 0;
}

.services-title {
  text-align: center;
}

.section-descr {
  margin: 0 0 50px 0;
  color: #787878;
}

.section-offset {
  padding: 87px 0 160px 0;
}

.services-descr {
  text-align: center;
}

.services-item {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  text-align: center;
  transition:
    background-color.3s ease-in-out,
    border-color.3s ease-in-out;
}
.services-item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.item-descr {
  color: #787878;
  font-size: 14px;
  line-height: 150%;
  /* 21px */
  transition: color 0.3s ease-in-out;
}
.services-item:hover .item-descr {
  color: #fff;
}

.services-item:not(:nth-child(4n)) {
  margin: 0 30px 0 0;
}

.services-item-icon {
  margin: 0 0 15px 0;
}

.services-item-icon path {
  fill: #3172b9;
  transition: fill 0.3s ease-in-out;
}
.services-item:hover .services-item-icon path {
  fill: #fff;
}

.services-iten-title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.services-item:hover .services-iten-title {
  color: #fff;
}

.item-title {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  transition: color 0.3s ease-in-out;
}

.services-item-descr {
  margin: 0;
  text-align: center;
}

/* articles */

.articles {
  border-bottom: 1px solid #dadada;
}

.article-list {
  flex-wrap: wrap;
}

.article-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.article-item {
  margin-bottom: 30px;
  width: 570px;
}

.block-preview {
  min-height: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}
.block-preview-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.block-preview-link:focus {
  background-color: #71a7e2;
}
.block-preview-link:focus .block-preview-text {
  color: #fff;
}

.block-preview-link:focus .block-preview-text {
  color: #fff;
}

.block-preview-link:focus .block-preview-time {
  color: #fff;
}

.block-preview-link:focus .block-previw-title {
  color: #fff;
}
.block-preview-link:focus .block-preview-descr {
  color: #fff;
}

.block-preview-link:hover {
  background-color: #3172b9;
}
.block-preview-link:hover .block-preview-text {
  color: #fff;
}

.block-preview-link:hover .block-preview-text {
  color: #fff;
}

.block-preview-link:hover .block-preview-time {
  color: #fff;
}

.block-preview-link:hover .block-previw-title {
  color: #fff;
}

.block-preview-link:hover .block-preview-descr {
  color: #fff;
}
.block-preview-link:active {
  background-color: #0e3b6c;
}

.block-preview-link:active .block-preview-text {
  color: #fff;
}

.block-preview-link:active .block-preview-time {
  color: #fff;
}

.block-preview-link:active .block-previw-title {
  color: #fff;
}

.block-preview-link:active .block-preview-descr {
  color: #fff;
}

.block-preview-image {
  object-fit: cover;
}

.block-preview-text {
  padding: 30px;
}

.block-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
}

.block-previw-title {
  margin: 0;
  margin-bottom: 15px;
}

.block-preview-descr {
  margin: 0;
  padding: 0;
  max-width: 210px;
}

/* clients */

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  padding-bottom: 33px;
  margin: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #dadada;
}

.client-user {
  margin-top: auto;
  align-items: center;
}

.lient-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.lient-avatar img {
  width: 100%;
  height: 100%;
  border: 3px solid #3172b9;
  border-radius: 50%;
}

.client-name {
  color: #1c1c1c;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
}

.client-post {
  color: #787878;
  font-size: 14px;
  line-height: 180%;
}

/* contacts */

.contacts {
  border-bottom: #dadada 1px solid;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  max-width: 100%;
  padding-top: 48px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts-item-link {
  display: inline-block;
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 249px;
}

.contacts-item-location {
  background-image: url("../img/icons/location_on.svg");
}

.contacts-item-connection {
  background-image: url("../img/icons/phone.svg");
}

.contacts-item-mail {
  background-image: url("../img/icons/mail.svg");
}

.contacts-item-caption {
  color: #1c1c1c;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
  margin-bottom: 30px;
}

.contacts-item-text {
  max-width: 215px;
  margin: 0;
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}
.contacts-item-link:hover {
  color: #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}

/* join */

.join-us {
  border-bottom: #dadada 1px solid;
}
.form {
  padding: 0px 55px 0px 55px;
}

.join-title {
  text-align: center;
}

.join-descr {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.top-form {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 19px 0px;
}

.form-input {
  border-radius: 50px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  opacity: 0.6;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.form-input:nth-child(-n + 2) {
  margin-bottom: 19px;
}

.form-input:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71a7e2;
}

.form-input:active {
  border-color: #0e3b6c;
}

.form-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
}

.form-right {
  width: 49%;
}
.form-select {
  border-radius: 50px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  opacity: 0.6;
  padding: 15px 28px;
  width: 251px;
  height: 60px;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71a7e2;
}

.form-select:active {
  border-color: #0e3b6c;
}

.form-textaria {
  border-radius: 20px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  opacity: 0.6;
  resize: none;
  padding: 16px 28px;
  align-items: center;
  width: 100%;
  height: 100%;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.form-textaria:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textaria:hover {
  border-color: #71a7e2;
}

.form-textaria:active {
  border-color: #0e3b6c;
}

.form-bottom {
  display: flex;
  justify-content: end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-form {
  border-radius: 50px;
  min-width: 230px;
  padding: 20px 20px;
  margin: 0px 0px 9px 0px;
}
.form-check {
  color: #787878;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.form-check input {
  margin: 0px 8px 0px 0px;
}

.bottom-descr a {
  color: #3172b9;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copy {
  color: #787878;
  font-size: 12px;
  line-height: 180%;
}

.footer__nav {
  margin-right: 55px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer-link {
  color: #787878;
  font-size: 15px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.footer-link:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.footer-link:hover {
  color: #71a7e2;
  border-bottom: none;
}

.footer-link:active {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
  outline: none;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.item-social-icon path {
  fill: black;
}
.item-social-icon-mail path {
  stroke: #000;
}

.item-social-icon path {
  transition: fill 0.3s ease-in-out;
}
.item-social-icon-mail path {
  transition: stroke 0.3s ease-in-out;
}

.sotial-link:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.sotial-link:hover .item-social-icon path {
  fill: #71a7e2;
}

.sotial-link:active .item-social-icon path {
  fill: #3172b9;
}
.sotial-link:hover .item-social-icon-mail path {
  stroke: #71a7e2;
}

.sotial-link:active .item-social-icon-mail path {
  stroke: #3172b9;
}
